/* Weather.css */

.cardContainer {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);

  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 30vw;
  height: 35vw;
  display: grid;

  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  padding: 20px 15px;
  border-radius: 10px !important;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(43, 42, 42, 0.142) !important;
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
}

.grid-container {
  position: relative;
  width: 350px;
  height: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, auto);
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;

  padding: 15px 10px 5px 10px;
  border-radius: 20px !important;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(43, 42, 42, 0.283) !important;
  /* border: 1px solid rgba(255, 255, 255, 0.089); */
  cursor: pointer;
}

.weatherIcon {
  padding: 0%;
}

.temp_num {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1.8px;
  color: rgb(107, 107, 107);
}

.city {
  font-weight: 600;
  grid-row: 1;
  grid-column: 1/4;
  /* padding-left: 10px; */
  font-family: "GmarketSansLight" !important;
  /* border: 10px rgb(214, 214, 214); */
  padding-left: 0px;
  padding-bottom: 5px;
  font-size: 26px;
  letter-spacing: 1px;
  color: rgb(107, 107, 107);
  margin-left: 20px;
  margin-right: -8px;
  border-bottom: 2px solid grey;
}

.weather {
  font-weight: 500;
  font-family: "GmarketSansLight" !important;
  font-size: 25px;
  align-content: center;
  letter-spacing: 1.2px;
  padding: 0%;
  color: rgb(234, 234, 234);
  /* grid-row: ; */
}

.temp {
  text-align: center;
  font-size: 25px;
  color: rgb(225, 225, 225);
  font-family: "GmarketSansLight" !important;
}

.min {
  grid-row: 4;
  grid-column: 2/ 4;
  font-size: 22px;
  margin-left: 27px;
  /* text-align: center; */
  font-family: "GmarketSansLight" !important;
}
.today {
  grid-row: 2;
  grid-column: 1/4;
  /* border-top: 4px solid grey; */
  font-family: "GmarketSansLight" !important;
  font-size: 22px;
  margin-left: 18px;
  margin-right: -10px;
  padding-top: 5px;
}

.max {
  grid-row: 4;
  grid-column: 1 / span 2;
  font-size: 22px;
  margin-left: 20px;
  /* text-align: center; */
  font-family: "GmarketSansLight" !important;
}

.max_color {
  color: rgb(234, 136, 17);
}
.min_color {
  color: skyblue;
}

.temp_color {
}

.cardContainer::before {
  width: 100px;
  height: 100px;
  content: "";
  position: absolute;
  background-color: rgb(144, 161, 255);
  z-index: -1;
  border-radius: 50%;
  left: 100px;
  top: 50px;
  transition: all 1s;
}

.cardContainer:hover::before {
  transform: translate(-50px, 50px);
}
